/Ejercicio 1.1/nbproject/private/
/Capitulo1Ejercicio1/nbproject/private/
/Capitulo1Ejercicio1/build/
/Capitulo1Ejercicio2/nbproject/private/
/Capitulo1Ejercicio2/build/
/Capitulo1Ejercicio3/nbproject/private/
/Capitulo1Ejercicio3/build/
/Capitulo1Ejercicio4/nbproject/private/
/Capitulo1Ejercicio4/build/
/Capitulo1Ejercicio5/nbproject/private/
/Capitulo1Ejercicio5/build/
/Capitulo2Ejercicio1/nbproject/private/
/Capitulo2Ejercicio1/build/
/Capitulo2Ejercicio2/nbproject/private/
/Capitulo2Ejercicio2/build/
/Capitulo2Ejercicio3/nbproject/private/
/Capitulo2Ejercicio3/build/
